.container-hero {
    padding: 0;
}

.hero-title {
    color:white;
    font-weight: 800;
}

.hero-info {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    background-color: #00000000;
    z-index: 99;
}

.decrease-font {
    font-size: 4vw;
}

.hero-subtitle {
    padding-top: 2vw;
    font-size: 2vw;
    width: 70%;
    color:white;
    font-weight:700;
}
.hero-subtitle-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-button-container {
    height: 50%;
    margin-top: 1vw;
    width: 100%;
    justify-content: center;
}

.colorChange {
    background-color: #A0A0A0;
}

.banner-wrapper {
    position:relative;
    width: 100%;
    height: 100%;
}

.hero-button {
    background-color: #58C33D;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    cursor: pointer;
    font: inherit;
    font-size: 2.5vw;
    font-weight: 800;
    padding: 1vw 2vw;
    text-align: center;
}

.hero-button:hover {
    background-color: #227849;
}

span {
    width: 10vw;
    height: 10vw;
}


@media (max-width: 768px) {

    #Hero {
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    
    .container-hero {
        height: 100%;
    }
    
    .carousel-hero {
        height: 100%;
    }
    
    .carousel-hero-inner {
        height: 100%;
    }
    
    .carousel-hero-item {
        height: 100vh;
    }
    
    .carousel-hero-item img {
        height: 100%;
        object-fit: cover;

    }

    .decrease-font {
        font-size: 7vw;
    }

    .hero-subtitle {
        font-size: 5vw;
    }

    .hero-info {
        position: absolute;
        top: 12%;
        left: 15%;
        width: 70%;
        background-color: #00000000;
    }

    
    .hero-button {
        background-color: #58C33D;
        border: none;
        border-radius: 10px;
        color: #F9F9F9;
        cursor: pointer;
        font: inherit;
        font-size: 6vw;
        font-weight: 800;
        padding: 1vw 2vw;
        text-align: center;
    }

}

@media (max-width: 576px) {

    #Hero {
        position: relative;
        width: 100vw;
        height: 100vh
    }
    
    .container-hero {
        height: 100%;
    }
    
    .carousel-hero {
        height: 100%;
    }
    
    .carousel-inner {
        height: 100%;
    }
    
    .carousel-hero-item {
        height: 100%;
    }
    
    .carousel-hero-item img {
        height: 100%;
        object-fit: cover;

    }

    .decrease-font {
        font-size: 7vw;
    }

    .hero-subtitle {
        font-size: 5vw;
    }

    .hero-info {
        position: absolute;
        top: 20%;
        left: 15%;
        width: 70%;
        background-color: #00000000;
        z-index: 99;
    }

    
    .hero-button {
        background-color: #58C33D;
        border: none;
        border-radius: 10px;
        color: #F9F9F9;
        cursor: pointer;
        font: inherit;
        font-size: 6vw;
        font-weight: 800;
        padding: 1vw 2vw;
    }

}