.article-category {
  background-color: #F9F9F9;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
}

.product-category-card {
  background-color: #F9F9F9 !important;
}

.article-category:hover {
  text-decoration: none;
  border-bottom: 5px solid green;
  padding-bottom: 0.5rem;
}

.product {
  border: none;
  background-color: #F9F9F9;
  padding: 3%;
}

.react-multiple-carousel__arrow {
  background: rgba(0,0,0,0) !important;
  top: calc(25% + 1px);
}

.react-multiple-carousel__arrow:hover:before {
  color: black !important;
  transition: all 0.1s ease-in-out;
}

.react-multiple-carousel__arrow::before {
  font-size: 80px !important;
}

.react-multiple-carousel__arrow::before {
  font-size: 80px !important;
}


.products-carousel .carousel-indicators {
  bottom: -1.7vw;
}

.product:hover {
  border: 2px solid green;
}

.product-installation-img {
  object-fit: scale-down !important;
}

.product-category-card img {
  height: 100%;
  width:100%;
  max-width: 100%;
}

.product-category-card {
  width: 100%;
}

.selected-category {
  text-decoration: none;
  border-bottom: 5px solid green;
  padding-bottom: 0.5rem;
}

.product-category-text {
  font-weight: 700 !important;
  font-size: 1.8rem !important;
}

.product-category-card {
  border: none !important;
}

.product-installation-carousel .carousel-item {
  margin: 0;
}

.product-installation-carousel .carousel-inner {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  
  height: 450px; 
  width: 100%;
}