:root {
  font-size: 18px;
  font-family: 'Nunito Sans','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');
* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
}
.content {
  padding: 1rem;
  width: 84%;
}

@media only screen and (max-width: 440px) {
  h1 {
      font-size: 2rem;
  }
  .content {
    width: 90%;
    padding: 0;
  }
}

img {
  max-width: 100%;
}



.spa {
  display: flex;
  justify-content: center;
  align-items:center;
}

html {
  font-size: 1rem;
}

h1,h2,h3,h4,p, label {
  color: black;
}



.navbar {
  background: #FFFFFF00;
}

.nav-section {
  padding-right: 2rem;
  color: white;
}

nav {
  background: #FF000000;
}

.display-4 {
  font-size: 2rem;
  font-weight: 800;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 100px;
  height: 100px;
}

.nav-item {
  padding-right: 2rem;
}

.navbar-image {
  margin-right: 2vw;
}

.navlink {
  margin-right: 3vw;
  color: white;
  
  border-radius: 8px;
}

.navlink:hover {
  background-color: #58C33D;
  color: white;
}

.active {
  color: white;
}

.float{
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.float:hover {
  color: white;
  background-color:#104911; 
}

.my-float svg{
  width: 50px;
  height: 50px;
}