@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');
* {
  scroll-behavior: smooth;
}

.section-container {
  margin-bottom: 250px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
  width: 84%;
}

.spa {
  display: flex;
  justify-content: center;
  align-items:center;
}

html {
  font-size: 1rem;
}

h1,h2,h3,h4,p, label {
  color: black;
}



.navbar {
  background: #FFFFFF00;
}

.nav-section {
  padding-right: 2rem;
  color: white;
}

nav {
  background: #FF000000;
}

.display-4 {
  font-size: 2rem;
  font-weight: 800;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 100px;
  height: 100px;
}

.nav-item {
  padding-right: 2rem;
}

.navbar-image {
  margin-right: 2vw;
}

.navlink {
  margin-right: 3vw;
  color: white;
  
  border-radius: 8px;
}

.navlink:hover {
  background-color: #58C33D;
  color: white;
}

.active {
  background-color: #58C33D;
  color: white;
}