.article-category {
  background-color: white;
  border: none;
  margin-right: 20%;
  font-weight: 700;
  font-size: 1.6rem;
}

.article-category:hover {
  text-decoration: none;
  border-bottom: 5px solid green;
  padding-bottom: 0.5rem;
}

.carousel-indicators {
  top: 105% !important;
}

.product-installation-carousel .carousel-control-prev {
  margin-left: -15%;
}

.product-installation-carousel .carousel-control-next {
  margin-right: -15%;
}

.products-carousel .carousel-control-prev {
  margin-left: -10%;
}

.products-carousel .carousel-control-next {
  margin-right: -10%;
}

.product {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.product:hover {
  border: 2px solid green;
}

.product-installation-carousel {
  margin: 1.5rem;
}

.product-installation-carousel img {
  max-width: 100%;
}

.product-category-card img {
  height: 100%;
  width:100%;
  max-width: 100%;
}

.product-category-card {
  height: 12vw;
  
  width: 100%;
}


.selected-category {
  text-decoration: none;
  border-bottom: 5px solid green;
  padding-bottom: 0.5rem;
}

.product-category-text {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.product-category-card {
  border: none !important;
}