.contact-button {
    margin-top: 20px;
    border: none;
    background-color: #58C33D;
    color: white;
    border-radius: 12px;
    font-weight: bold;

    min-width: 30%;
    max-width: 60%;
    min-height: 80px;
    max-height: auto;
}

.contact-data {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}
svg {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 440px) {
    .contact-data {
        font-size: 1rem;
    }

    .contactdata-link {
        font-size: 1rem !important;
    }

    svg {
        height: 40px;
        width: 40px;
    }

    .footer-data {
        font-size: 1rem;
    }
}

.form-control {
    border-color: black !important;
    border-width: 2px !important;
    background-color: white;
}



#Contact {
    padding-top: 100px;
    
}

.form-label {
    font-size: 1.5rem;
}

.contactdata-content {
    display: flex;
    align-items: center;
}