.contact-button {
    margin-top: 20px;
    border: none;
    background-color: #58C33D;
    color: white;
    border-radius: 12px;
    font-weight: bold;

    min-width: 30%;
    max-width: 60%;
    min-height: 80px;
    max-height: auto;
}

.contact-data {
    font-size: 1.2rem;
}

.form-control {
    border-color: black !important;
    border-width: 2px !important;
    background-color: white;
}

svg {
    height: 50px;
    width: 50px;
}

#Contact {
    padding-top: 100px;
    
}

.form-label {
    font-size: 1.5rem;
}