.accordion-button {
    font-size: 30px !important;
    background-color: #E9E9E9 !important;
    height: 100px;
    color: black !important;
    font-weight: bold;
}

.accordion-button:after {
    width: 40px !important;
    height: 40px !important;
    background-size: 40px 40px !important;
}

.accordion-button:not(.collapsed)::after {
    color: black !important;
}
.accordion-button:not(.collapsed) {
    color: black !important;
}

.accordion-body {
    font-size: 30px;
}
.accordion-item {
    width: 90%;
    margin-top: 2rem;
}

.faq-title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 70px;
    font-weight: bold;
}

.faq-link {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    margin-top: 20px;
}

.faq-button {
    margin-top: 20px;
    border: none;
    background-color: #58C33D;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    
    min-width: 30%;
    max-width: 60%;
    min-height: 80px;
    max-height: auto;
}